<footer class="container-fluid footer-container">
    <div class="row">
        <!----- About Site ----->
        <div class="col-12 col-md-5 text-center mt-4 footer-text">
           
            <p>
                Based in Brooklyn, New York City, at Sneaker Central you’ll find a great mix of lifestyle footwear, offering a number of on-trend brands such as Adidas, Nike, Puma, Reebok and Converse. From classics through to limited edition, shop securely online with us to find the perfect sneaker you’re looking for. 

            </p>
        </div>
            <!----- Social Links ----->
            <ul class="list-inline d-flex justify-content-center">
                <li class="list-inline-item footer-li">
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter footericon" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item footer-li">
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram footericon" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item footer-li">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook footericon" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item footer-li">
                    <a href="https://www.tiktok.com" target="_blank">
                        <i class="fab fa-tiktok footericon" aria-hidden="true"></i>
                        <span class="sr-only">Tik Tok</span>
                    </a>
                    <li class="list-inline-item footer-li">
                        <a href="https://www.reddit.com" target="_blank">
                            <i class="fab fa-reddit footericon" aria-hidden="true"></i>
                            <span class="sr-only">Reddit</span>
                        </a>
                </li>
                <li class="list-inline-item footer-li">
                    <a href="https://www.snapchat.com" target="_blank">
                        <i class="fab fa-snapchat footericon" aria-hidden="true"></i>
                        <span class="sr-only">Snapchat</span>
                    </a>
            </li>
                <li class="list-inline-item footer-li">
                    <a href="https://www.youtube.com" target="_blank">
                        <i class="fab fa-youtube footericon" aria-hidden="true"></i>
                        <span class="sr-only">Youtube</span>
                    </a>
                </li>
                <li class="list-inline-item footer-li">
                    <a href="https://www.pinterest.com/" target="_blank">
                        <i class="fab fa-pinterest-p footericon" aria-hidden="true"></i>
                        <span class="sr-only">Pinterest</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>