<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sneakers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men's Sneakers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?category=adidas_men,converse_men,nike_men,puma_men,reebok_men" class="dropdown-item">All mens</a>
                <a href="{% url 'products' %}?category=adidas_men" class="dropdown-item">Adidas mens</a>
                <a href="{% url 'products' %}?category=converse_men" class="dropdown-item">Converse mens</a>
                <a href="{% url 'products' %}?category=nike_men" class="dropdown-item">Nike mens</a>
                <a href="{% url 'products' %}?category=puma_men" class="dropdown-item">Puma mens</a>
                <a href="{% url 'products' %}?category=reebok_men" class="dropdown-item">Reebok mens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="womens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women's Sneakers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womens-link">
                <a href="{% url 'products' %}?category=adidas_women,converse_women,nike_women,puma_women,reebok_women" class="dropdown-item">All womens</a>
                <a href="{% url 'products' %}?category=adidas_women" class="dropdown-item">Adidas womens</a>
                <a href="{% url 'products' %}?category=converse_women" class="dropdown-item">Converse womens</a>
                <a href="{% url 'products' %}?category=nike_women" class="dropdown-item">Nike womens</a>
                <a href="{% url 'products' %}?category=puma_women" class="dropdown-item">Puma womens</a>
                <a href="{% url 'products' %}?category=reebok_women" class="dropdown-item">Reebok womens</a>
            </div>
        </li>
    </ul>
</div>